
header{
	margin-top: 0;
	position: absolute;
	height: 100vh;
	text-align: center;
	box-shadow: 0px 0px 12px 0px;
}
.barra li{
	padding: 20px;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.barra li:hover{
	background-color: #050517;
	color: white;
}
.azul{
	background-color: #2971BB;
}